In [1]:
import pandas as pd
import numpy as np

In [6]:
import pandas as pd
import seaborn as sns

# Load Titanic dataset from seaborn
df = sns.load_dataset("titanic")

print("Original Dataset Shape:", df.shape)
print(df.head())

# --- 1. Handle Missing Values ---
print("\nMissing values before cleaning:\n", df.isnull().sum())

# Fill numeric missing values (Age, Fare) with median
df["age"].fillna(df["age"].median(), inplace=True)
df["fare"].fillna(df["fare"].median(), inplace=True)

# Fill categorical missing values (embarked, embark_town) with mode
df["embarked"].fillna(df["embarked"].mode()[0], inplace=True)
df["embark_town"].fillna(df["embark_town"].mode()[0], inplace=True)

# Handle deck column: convert to string & replace NaN with "Unknown"
df["deck"] = df["deck"].astype(str).replace("nan", "Unknown")

# Drop irrelevant columns (optional, depends on your project)
df.drop(columns=["alive", "adult_male", "who", "alone"], inplace=True)

print("\nMissing values after cleaning:\n", df.isnull().sum())

# --- 2. Convert Categorical to Numeric ---
# Label Encoding (binary category: sex)
df["sex"] = df["sex"].map({"male": 0, "female": 1})

# One-Hot Encoding (multi-category: embarked)
df = pd.get_dummies(df, columns=["embarked"], drop_first=True)

print("\nDataset after encoding:\n", df.head())

# --- 3. Final Cleaned Dataset Info ---
print("\nFinal Dataset Shape:", df.shape)
print(df.info())

# --- 4. Save Cleaned Dataset ---
df.to_csv("titanic_cleaned.csv", index=False)
print("\nCleaned dataset saved as 'titanic_cleaned.csv'")

Original Dataset Shape: (891, 15)
   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

Missing values before cleaning:
 survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

Missing values after cleaning:
 survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
deck           0
embark_town    0
dtype: int64

Dataset after encoding:
    survived  pclass  sex   age  sibsp  parch     fare  class     deck  \
0         0       3    0  22.0      1      0   7.2500  Third  Unknown
1         1       1    1  38.0      1      0  71.2833  First        C
2         1       3    1  26.0      0      0   7.9250  Third  Unknown
3         1       1    1  35.0      1      0  53.1000  First        C
4         0       3    0  35.0      0      0   8.0500  Third  Unknown

   embark_town  embarked_Q  embarked_S
0  Southampton       False        True
1    Cherbourg       False       False
2  Southampton       False        True
3  Southampton       False        True
4  Southampton       False        True

Final Dataset Shape: (891, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    int64
 3   age          891 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   class        891 non-null    category
 8   deck         891 non-null    object
 9   embark_town  891 non-null    object
 10  embarked_Q   891 non-null    bool
 11  embarked_S   891 non-null    bool
dtypes: bool(2), category(1), float64(2), int64(5), object(2)
memory usage: 65.5+ KB
None

Cleaned dataset saved as 'titanic_cleaned.csv'

C:\Users\Zohaib\AppData\Local\Temp\ipykernel_14432\2181189187.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["age"].fillna(df["age"].median(), inplace=True)
C:\Users\Zohaib\AppData\Local\Temp\ipykernel_14432\2181189187.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["fare"].fillna(df["fare"].median(), inplace=True)
C:\Users\Zohaib\AppData\Local\Temp\ipykernel_14432\2181189187.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["embarked"].fillna(df["embarked"].mode()[0], inplace=True)
C:\Users\Zohaib\AppData\Local\Temp\ipykernel_14432\2181189187.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["embark_town"].fillna(df["embark_town"].mode()[0], inplace=True)